@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Oswald:wght@200..700&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Quicksand:wght@300..700&family=Roboto:ital,wght@0,100..900;1,100..900&family=Ruwudu:wght@400;500;600;700&family=Special+Gothic+Expanded+One&family=Winky+Rough:ital,wght@0,300..900;1,300..900&display=swap');

*{
    font-family: "Open Sans", sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;

}

header{
    background-color:rgb(224, 233, 218);
    width: 100%;
    position: fixed;
    z-index: 999; 
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 200px;
}
.logo{
    text-decoration: none;
    color: brown;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1.8em;
}
.navigation a{
    color: brown;
    text-decoration: none;
    font-size: 1.1em;
    font-weight: 500;
padding-left: 30px;
}
.navigation a:hover{
    color: rgb(0, 0, 0);
}
section {
    padding: 100px 200px;
}
.main{
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    background: url("MYpic.png") no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
.main h2{
    color: black;
    font-size: 1.5em;
    font-weight: 500;
}
.main h2 span {
    display:  inline-block; /*span was inling */
    margin-top: 10px;
    color: brown;
    font-size: 3em;
    font-weight: 700;
}
.main h3 {
    color: rgb(78, 35, 35);
    font-size: 1.6em;
    margin-top: 10px;
    margin-bottom: 30px;

}
.mainbuttun{
    color: rgb(255, 255, 255);
    text-decoration: none;
    background-color: rgb(109, 57, 57);
    font-size: 1,1em;
    font-weight: 600;
    display: inline-block;/*trensfer to inling block */
    padding:  0.937 em 2.1875em;/*for view port 1em = 16 px*/
    margin-bottom: 40px;

}