@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Oswald:wght@200..700&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Quicksand:wght@300..700&family=Roboto:ital,wght@0,100..900;1,100..900&family=Ruwudu:wght@400;500;600;700&family=Special+Gothic+Expanded+One&family=Winky+Rough:ital,wght@0,300..900;1,300..900&display=swap');

*{
    font-family: "Open Sans", sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;

}

header{
    background-color:rgb(255, 255, 255);
    width: 100%;
    position: fixed;
    z-index: 999; 
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.625em 12.5em;
}
.logo{
    text-decoration: none;
    color: black;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1.8em;
}
.navigation a{
    color: black;
    text-decoration: none;
    font-size: 1.1em;
    font-weight: 500;
padding-left: 30px;
}
.navigation a:hover{
    color: blue;
}
section {
    padding: 100px 200px;
    
}
.main{
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    background: url("BackGraound.png") no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.main h2{
    color: rgb(255, 255, 255);
    font-size: 1.5em;
    font-weight: 500;
}
.main h2 span {
    display:  inline-block; /*span was inling */
    margin-top: 10px;
    color: blue;
    font-size: 3em;
    font-weight: 700;
    display: flex;
}
.main h3 {
    color: rgb(238, 238, 238);
    font-size: 1.6em;
    margin-top: 10px;
    margin-bottom: 30px;

}
.mainbuttun{
    color: rgb(255, 255, 255);
    text-decoration: none;
    background-color: rgb(56, 42, 165);
    font-size: 1.1em;
    font-weight: 600;
    display: inline-block;/*trensfer to inling block */
    padding:  0.937em 2.1875em;/*for view port 1em = 16 px*/
    letter-spacing: 1px;
    border-radius:  15px;
    margin-bottom: 40px;
    transition: 0.7s ease;
   


}

.mainbuttun:hover{
        background-color: blue;
        transform: scale(1.1);
        }

   .icons a{
    color: white;
    font-size: 3em;
    padding-right: 30px;
    
   }
   

   .title{
    display: flex;
    justify-content: center;/**/
    color: blue;
    font-size: 2.2em;
    font-weight: 800;
    margin-bottom: 30px;
   
}
   .contant {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

   }
   .card{
    background-color: white;
    width: 21em;
    box-shadow: 0 5px 25px rgba(1, 1, 1, 50%);
    border-radius: 10px;
    padding: 25px;
    margin: 15px;
    transition: 0.7s ease;
   }
   .card:hover{
    transform: scale(1.1);
   }

   .icon {
    color: blue;
    font-size: 8em;
    text-align: center;

   }
   .info{
    text-align: center;
   }
    
   .info h3{
    color: blue;
    font-weight: 700;
    margin: 10px;
   }
.Projects {
    background-color: rgb(0, 0, 41);
}

.Projects .contant{
    margin-top: 30px;

}
.projectCards{
    background-color: white;
    border: 1px solid white;
    min-height: 14em;
    width: 23em;
    overflow: hidden;
    border-radius: 10px;
    margin: 20px;
    transition: 1s ease;}

    .projectCards:hover{
        transform: scale(1.1);
    }

    .projectIMG img{
        width: 100%;
    }
    .projectINFO{
        padding: 1em;
    }
   .projectCatigori{
    font-size: 1.5em;
   }
   .projecttitel{
    font-weight: 900;
    justify-content: center;
    display: flex;
    font-size: 1.2em;
    
   }
   @media(max-width:768px){
    .main {
        background-position: center top;
        padding: 20px;
        text-align: center;
      }
    
      .main h2 {
        font-size: 24px;
      }
    
      .main h1 {
        font-size: 32px;
      }
    
      .main p {
        font-size: 16px;
      }
    
      
    
      .Projects {
        padding: 20px;
      }
    
      .projectcard {
        width: 90%;
        margin-bottom: 20px;
      }
  
}